html, body {
    background-color: blanchedalmond;
    height: 2000px;
}

.cmeet {
    margin-top: -900px;
}

.meet {
    font-size: 900px;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 40%;

}

