body {
    background-color: blanchedalmond;
}

.main {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    align-items: center;

    padding: 200px;
}

.main a {
    max-width: 250px;
}

.main a img {
    position: relative;
    height: 250px;
    transition: all 1s;
}

.main a p {
    position: relative;
    color: white;
    transition: all 1s;
    background-color: black;
    opacity: 0
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.zen {
    margin-top: 35%;
    margin-right: 250px;
}

.jurrasic {
    padding: 20%;
}

.certficate {
    position: relative;
    right: -30%;
}

.budget {
    margin-right: 150px;
}

.sushi {
    position: relative;
    right: 1000px;
}
