body {
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.one, .two {
    font-size: xx-large;
}

.pic {
    position: absolute;
    right: 5%;
    width: 500px;
}